body {
    font-family: 'Poppins', sans-serif;
    color: #212121 !important;
    background-color: #fcfce6;
}

.emphasis-font {
    font-family: 'Bebas Neue', sans-serif;
}

h1.emphasis-font {
    font-size: calc(3.5rem + 1.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.btn {
    color: #212121;
    font-weight: 800 !important;
    display: block !important;
    text-decoration: none !important;
    line-height: unset !important;
    padding: 0;
    margin: 0;
    border: none;
}

.form-control {
    background-color: #e1e1cd;
    border: none;
    outline: none;
}

.form-control:focus {
    background-color: #e1e1cd;
    border: none !important;
    outline: none !important;
}