<main class="container pt-4 mt-5">
    <section class="px-5 row justify-content-center">
        <div class="col-md-10 col-lg-8 col-12">
            <div class="row align-items-center">
                <div class="col-6 mb-4">
                    <h3>MY JOTS - [<span id="jot-count"></span>]</h3>
                </div>
                <div class="col-6 mb-4">
                    <a href="#/create" class="float-end fw-bold">CREATE A JOT +</a>
                </div>
                <div class="col-12">
                    <div class="row" id="jot-container">

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>